.styleCard {
    border-radius: 8px;
    box-shadow: 0px 0px 8px #ccc;
    color: #0e1c2e;
    margin: 12px 0px;
    background-color: #ccc;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .styleCardContent {
    padding: 4px 16px 20px 16px;
  }
  
  .styleImage {
    background-color: lightGray;
    border-radius: 8px 8px 0 0;
    width: 100%
  }
  
  .styleCardTitle {
    font-family: Avenir-Heavy;
    font-size: 20;
    font-weight: 600;
    margin: 12px 0px 0px 0px;
    justify-content: center;
  }
  
  .styleLocationLabel {
    color: #455466;
    font-size: 14;
    margin: 4px 0;
  }
  
  .styleDescription {
    font-size: 14;
    margin: 8px 0 0 0;
  }

  .botonDiv {
    display: flex;
    justify-content: flex-end;
}

.boton {
    background-color: #ccc;
    border: 5px;
    color: rgb(0, 0, 0);
    width: fit-content;
    border-radius: 10%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 120%;
}

.boton:hover {
    background-color: #00000060;
    border: 2px;
    color: white;
    border-radius: 10%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 120%;
    box-shadow: 0px 0px 8px rgb(128, 128, 128);
}
/* .cardDiv {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(40, 206, 34);
    width:20%;
    border-radius: 20px;
}

.boton {
    padding: 2px;
    background-color: solid yellowgreen;
    color: black;
    align-items: flex-end;
    width: fit-content;
}

.name {
    padding: 2px;
    background-color: bisque;
    border-radius: 5px;
    width: fit-content;
}

.bottomDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nameDiv {
    display: flex;
    justify-content: center;
}

.botonDiv {
    display: flex;
    justify-content: flex-end;
}

.img{
    border-radius: 5px;
} */